<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    <% include partials/template/header.ejs %>

    <section class="layout">
       <div class="primary">
         <div>Cardigan keffiyeh salvia seitan, tattooed locavore Brooklyn ugh. Kitsch chillwave sriracha semiotics, Neutra mustache health goth. Polaroid Godard mumblecore, Wes Anderson flannel leggings umami Thundercats typewriter cred. Twee irony master cleanse, chia pickled cronut McSweeney's kitsch artisan biodiesel PBR&B put a bird on it vegan Brooklyn Shoreditch. Swag polaroid meggings, fixie Tumblr drinking vinegar raw denim you probably haven't heard of them. Kitsch lomo Neutra, ugh banjo Banksy pug chillwave asymmetrical scenester mustache. Slow-carb Odd Future gastropub, keffiyeh banh mi salvia 90's asymmetrical letterpress scenester tattooed. Mlkshk cliche authentic, blog 3 wolf moon tote bag fashion axe wolf butcher artisan seitan. Stumptown jean shorts narwhal kogi. Hella brunch fap YOLO. Messenger bag quinoa literally typewriter, roof party Austin farm-to-table fap. Bushwick Truffaut actually, wayfarers ennui McSweeney's hoodie meditation Brooklyn taxidermy polaroid cronut mlkshk.</div>
       </div>
     <aside class="secondary">
         <div>Bushwick Truffaut actually, wayfarers ennui McSweeney's hoodie meditation Brooklyn taxidermy polaroid cronut mlkshk. Helvetica cornhole leggings, deep v shabby chic tousled YOLO vinyl tattooed PBR actually jean shorts selfies. Hella brunch fap YOLO. Messenger bag quinoa literally typewriter, roof party Austin farm-to-table fap. Literally seitan keffiyeh, typewriter pour-over chillwave Blue Bottle viral 3 wolf moon forage roof party drinking vinegar. Mlkshk cliche authentic, blog 3 wolf moon tote bag fashion axe wolf butcher artisan seitan. Stumptown jean shorts narwhal kogi.</div>
     </aside>
     </section>

    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
